<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Clients</h4>
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-info btn-round" [routerLink]="['/client']">Add client</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" value="" (input)="searchInTable($event.target.value)" placeholder="Search data"
                  class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table">
            <table class="table" *ngIf="(clients$ | async) as clients">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Birthday
                </th>
                <th>
                  Country
                </th>
                <th class="text-right">
                  Operations
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients | customFilter: clientsFilter : searchString">
                  <td>
                    {{ client.info.first_name }} {{ client.info.surname }} ({{ client.info.pesel }})
                  </td>
                  <td>
                    {{ client.info.birthday }}
                  </td>
                  <td>
                    {{ client.info.country }}
                  </td>
                  <td class="text-right">
                    <div ngbDropdown class="dropdown" placement="bottom-right">
                      <button class="btn btn-sm btn-info dropdown-toggle" ngbDropdownToggle>Actions</button>
                      <div ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/client', client.id]">Show</a>
                        <a class="dropdown-item" [routerLink]="['/client', client.id]">Edit</a>
                        <a class="dropdown-item" href="#">Remove</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
