<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add new credit</h5>
        </div>
        <div class="card-body">
          <div class="alert text-center"
              [ngClass]="{'alert-info': !notification.error, 'alert-danger': notification.error}"
              *ngIf="notification && notification.message">
            <span>{{ notification.message }}</span>
          </div>
          <form [formGroup]="createCreditForm" (ngSubmit)="addCredit()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Credit type</label>
                  <select name="" formControlName="creditType" class="form-control" (change)="onChange($event.target.value)">
                    <option value="">-- Select credit type --</option>
                    <option *ngFor="let type of creditTypes" [value]="type.id">{{ type.name }}</option>
                  </select>
                  <div *ngIf="creditType.invalid && (creditType.dirty || creditType.touched)">
                    <div *ngIf="creditType.errors.required" class="error-message">
                      Credit type is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Info</label>
                  <input name="" formControlName="info" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Min value</label>
                  <input name="" formControlName="minValue" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Max value</label>
                  <input name="" formControlName="maxValue" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Interest rate</label>
                  <input name="" formControlName="interestRate" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Loan period</label>
                  <input name="" formControlName="loanPeriod" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Value</label>
                  <input name="" formControlName="value" class="form-control">
                  <div *ngIf="value.invalid && (value.dirty || value.touched)">
                    <div *ngIf="value.errors.required" class="error-message">
                      Value is required
                    </div>
                    <div *ngIf="creditType.value != '' && value.invalid && !amount.errors.required" class="error-message">
                      Value must be between Mix and Max values
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-right">
              <button type="submit" [disabled]="createCreditForm.invalid || formInSave" 
                      class="btn btn-lg btn-info btn-round">
                Add credit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>