<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add new credit type</h5>
        </div>
        <div class="card-body">
          <div class="alert text-center"
            [ngClass]="{'alert-info': !notification.error, 'alert-danger': notification.error}"
            *ngIf="notification && notification.message">
            <span>{{ notification.message }}</span>
          </div>
          <form [formGroup]="createCreditTypeForm" (ngSubmit)="addCreditType()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Name *</label>
                  <input formControlName="name" class="form-control">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required" class="error-message">
                      Name is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Info *</label>
                  <input formControlName="info" class="form-control">
                  <div *ngIf="info.invalid && (info.dirty || info.touched)">
                    <div *ngIf="info.errors.required" class="error-message">
                      Info is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Min value *</label>
                  <input formControlName="minValue" class="form-control">
                  <div *ngIf="minValue.invalid && (minValue.dirty || minValue.touched)">
                    <div *ngIf="minValue.errors.required" class="error-message">
                      Min value is required
                    </div>
                    <div *ngIf="minValue.errors.min || minValue.errors.max" class="error-message">
                      Min value must be a value between 20000 and 2000000 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Max value *</label>
                  <input formControlName="maxValue" class="form-control">
                  <div *ngIf="maxValue.invalid && (maxValue.dirty || maxValue.touched)">
                    <div *ngIf="maxValue.errors.required" class="error-message">
                      Max value is required
                    </div>
                    <div *ngIf="maxValue.errors.min || maxValue.errors.max" class="error-message">
                      Max value must be a value between 20000 and 2000000 
                    </div>
                    <div *ngIf="maxValue.invalid && !maxValue.errors.min && !maxValue.errors.max && !maxValue.errors.required" class="error-message">
                      Max value must be greater than Min value 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Interest rate *</label>
                  <input formControlName="interestRate" class="form-control" type="number">
                  <div *ngIf="interestRate.invalid && (interestRate.dirty || interestRate.touched)">
                    <div *ngIf="interestRate.errors.required" class="error-message">
                      Interest rate is required
                    </div>
                    <div *ngIf="interestRate.errors.min || interestRate.errors.max" class="error-message">
                      Interest rate must be a value between 1 and 10 %
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Loan period (months)*</label>
                  <select name="" formControlName="loanPeriod" class="form-control">
                    <option value="">-- Select loan period --</option>
                    <option *ngFor="let loanLength of loanPeriods" [value]="loanLength">{{ loanLength }}</option>
                  </select>
                  <div *ngIf="loanPeriod.invalid && (loanPeriod.dirty || loanPeriod.touched)">
                    <div *ngIf="loanPeriod.errors.required" class="error-message">
                      Loan period is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-right">
              <button type="submit" [disabled]="createCreditTypeForm.invalid || formInSave"
                      class="btn btn-lg btn-info btn-round">Add credit type</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>