<div class="panel-header panel-header-sm">
</div>
<div class="main-content">

  <div class="row" *ngIf="(account$ | async) as account">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Account data</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Number</label>
                <input type="text" class="form-control" readonly="" placeholder="Number"
                  [value]="account.number_banking_account | accountNumber">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>IBAN</label>
                <input type="text" class="form-control" readonly="" placeholder="IBAN"
                  [value]="account.iban | ibanNumber">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Currency</label>
                <input type="text" class="form-control" readonly="" placeholder="Currency" [value]="account.currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner first name</label>
                <input type="text" class="form-control" readonly="" placeholder="First_name"
                  [value]="account.first_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner surname</label>
                <input type="text" class="form-control" readonly="" placeholder="Surname" [value]="account.surname">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner pesel</label>
                <input type="text" class="form-control" readonly="" placeholder="Pesel" [value]="account.pesel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Account balance</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Available amount</label>
                <input type="number" class="form-control" readonly="" placeholder="Available amount"
                  [value]="account.available_amount">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" readonly="" placeholder="TYPE" [value]="account.type">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Status</label>
                <input type="text" class="form-control" readonly="" placeholder="Status"
                  [value]="account.is_blocked ? 'BLOCKED': 'NORMAL'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Active</label>
                <input type="text" class="form-control" readonly="" placeholder="Currency"
                  [value]="account.is_active ? 'ACTIVE': 'INACTIVE'">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
