<div class="panel-header panel-header-sm">
</div>
<div class="main-content" *ngIf="(account$ | async) as account">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header clearfix">
          <h5 class="title">Account data</h5>
          <!-- <form [formGroup]="addAgentForm" (ngSubmit)="addAgent()">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label>Select client</label>
                  <input type="text" class="form-control" [ngbTypeahead]="searchClient"
                    [resultFormatter]="searchClientFormat" [inputFormatter]="searchClientFormat"
                    (selectItem)="selectClient($event.item)" formControlName="client" placeholder="Search client ..."
                    value="">
                  <input type="hidden" formControlName="client_id">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <div><label>&nbsp;</label></div>
                  <button type="submit" [disabled]="addAgentForm.invalid" class="btn btn-info btn-round m-0">Add
                    agent</button>
                </div>
              </div>
            </div>
          </form> -->
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Number</label>
                <input type="text" class="form-control" readonly="" placeholder="Number"
                  [value]="account.number_banking_account | accountNumber">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>IBAN</label>
                <input type="text" class="form-control" readonly="" placeholder="IBAN"
                  [value]="account.iban | ibanNumber">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Currency</label>
                <input type="text" class="form-control" readonly="" placeholder="Currency" [value]="account.currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner first name</label>
                <input type="text" class="form-control" readonly="" placeholder="First_name"
                  [value]="account.owner.first_name">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner surname</label>
                <input type="text" class="form-control" readonly="" placeholder="Surname"
                  [value]="account.owner.surname">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Owner pesel</label>
                <input type="text" class="form-control" readonly="" placeholder="Pesel" [value]="account.owner.pesel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header clearfix">
          <div>
            <h5 class="title float-left">Account balance</h5>
            <button class="btn btn-sm btn-danger float-right m-0 ml-1" title="Add CashOut" (click)="openCashOut()"
              type="button">
              <i class="now-ui-icons ui-1_simple-delete"></i>
            </button>
            <button class="btn btn-sm btn-info float-right m-0 ml-1" title="Add CashIn" (click)="openCashIn()"
              type="button">
              <i class="now-ui-icons ui-1_simple-add"></i>
            </button>
          </div>
          <div *ngIf="selectedOperation">
            <div class="input-group">
              <input type="number" class="form-control" #amount [placeholder]="selectedOperationType + ' amount'"
                placeholder=" amount">
              <div class="input-group-append">
                <button class="btn btn-info" type="button" (click)="addAmount(this.amount.value, account)">Save</button>
                <button class="btn btn-danger" type="button" (click)="closeInput()">
                  <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Available amount</label>
                <input type="number" class="form-control" readonly="" placeholder="Available amount"
                  [value]="account.available_amount">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" readonly="" placeholder="TYPE" [value]="account.type">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Status</label>
                <input type="text" class="form-control" readonly="" placeholder="Status"
                  [value]="account.is_blocked ? 'LOCKED': 'NORMAL'">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Active</label>
                <input type="text" class="form-control" readonly="" placeholder="Currency"
                  [value]="account.is_active ? 'ACTIVE': 'INACTIVE'">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row" *ngIf="(cards$ | async) as cards"> -->
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Cards</h4>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-info btn-round" [disabled]="account.is_blocked" (click)="addCard()">Add
                card</button>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
        <div class="card-body">
          <div class="table" *ngIf="(cards$ | async) as cards">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Number
                </th>
                <th>
                  Type
                </th>
                <th>
                  Validity date
                </th>
                <th>
                  Status
                </th>
                <th class="text-right">
                  Operations
                </th>
              </thead>
              <tbody *ngIf="cards.length > 0">
                <tr *ngFor="let card of cards">
                  <td>
                    {{ card.number }}
                  </td>
                  <td>
                    {{ card.type }}
                  </td>
                  <td>
                    {{ card.validityDate | date:'MM/yyyy' }}
                  </td>
                  <td>
                    {{ card.status ? 'Active' : 'Inactive' }}
                  </td>
                  <td class="text-right">
                    <div ngbDropdown class="dropdown" placement="bottom-right">
                      <button class="btn btn-sm btn-info dropdown-toggle" ngbDropdownToggle
                        [disabled]="account.is_blocked">Actions</button>
                      <div ngbDropdownMenu>
                        <a class="dropdown-item" role="button" (click)="changeCardStatus(card)">Change status</a>
                        <a class="dropdown-item" role="button" (click)="showPinModal(card.id, content)">Change pin
                          code</a>
                        <a class="dropdown-item" role="button">Remove card</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="cards.length === 0">
                <tr>
                  <td colspan="5">
                    No results
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Set new pin code</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>New pin CODE</label>
      <input #pinCode class="form-control" placeholder="0000" name="pin" type="number" min="1111" max="9999">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-round" (click)="modal.close(this.pinCode.value)">Save</button>
  </div>
</ng-template>
