<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Add new client</h5>
        </div>
        <div class="card-body">
          <form>
            <p class="card-category">Personal info</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>First name</label>
                  <input type="text" class="form-control" placeholder="First name" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Surname</label>
                  <input type="text" class="form-control" placeholder="Surname" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Pesel</label>
                  <input type="text" class="form-control" placeholder="Pesel" value="">
                </div>
              </div>
            </div>
            <hr>
            <p class="card-category">Address info</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Street</label>
                  <input type="text" class="form-control" placeholder="Street" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>House number</label>
                  <input type="text" class="form-control" placeholder="House number" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Apartment number</label>
                  <input type="text" class="form-control" placeholder="Apartment number" value="">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Zip code</label>
                  <input type="text" class="form-control" placeholder="Zip code" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Country</label>
                  <select name="" class="form-control">
                    <option value="">-- Select country --</option>
                    <option value="DE">Germany</option>
                    <option value="PL">Poland</option>
                  </select>
                </div>
              </div>
            </div>

            <hr>
            <p class="card-category">Contacts</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contact type</label>
                  <select name="" class="form-control">
                    <option value="">-- Select type --</option>
                    <option value="PHONE">Phone</option>
                    <option value="EMAIL">Email</option>
                    <option value="FAX">Fax</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Contact value</label>
                  <input type="text" class="form-control" placeholder="Contact value" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div>
                    <button type="button" class="btn btn-info btn-round m-0"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-danger btn-round mt-0 mb-0 ml-2"><i
                        class="fa fa-times"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <hr>
            <p class="card-category">Documents</p>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Document type</label>
                  <select name="" class="form-control">
                    <option value="">-- Select type --</option>
                    <option value="ID">ID</option>
                    <option value="PASSPORT">Passport</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Document value</label>
                  <input type="text" class="form-control" placeholder="Document value" value="">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <div>
                    <button type="button" class="btn btn-info btn-round m-0"><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn btn-danger btn-round mt-0 mb-0 ml-2"><i
                        class="fa fa-times"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button role="button" class="btn btn-lg btn-info btn-round">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
